@{
    ViewBag.Title = "Place New Newspaper Ad";
}

<h2>Place New Ad</h2>

@using (Html.BeginForm("GetAdText", "Ad", FormMethod.Post))
{
    @Model
    @Html.TextBox("adText")
    <input id="adText" name="adText" type="submit" value="Place Ad" />
}
