@model IEnumerable<AcmeKata.Models.Ad>

@{
    ViewBag.Title = "View Ads";
}

<h2>Ads in Newspaper:</h2>

<ul>
    @foreach (var ad in Model)
    {
        <li>@ad.Name</li>
    }
</ul>

@Html.ActionLink("Return Home", "Index", "Home")